{% extends 'appointmenthome/base.html' %}
{% block title %}Add new User {% endblock %}
{% bloc user_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12 col-md-7">
           <div class="panel panel-default">
               <div class="panel-body">
                   <form action="" class="form-horizontal">


                   </form>
                   <!-- End of form-horizontal -->
               </div>
               <!-- End of panel-body -->
           </div>
           <!-- End of panel-default-->
       </div> 
        <!-- End of col-->
    </div> <!-- end of Row-->
</div> <!-- end of container-fluid -->